<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE plugin PUBLIC "-//JPF//Java Plug-in Manifest 1.0" "http://jpf.sourceforge.net/plugin_1_0.dtd">
<plugin id="org.openstreetmap.osmosis.core.plugin.Core" version="no-version-specified"
	class="org.openstreetmap.osmosis.core.plugin.CorePlugin">
	<extension-point id="Task">
		<parameter-def id="class" />
		<parameter-def id="name" />
	</extension-point>
</plugin>
