#!/usr/bin/make -f
# Sample debian/rules that uses debhelper.
# GNU copyright 1997 to 1999 by Joey Hess.

# Uncomment this to turn on verbose mode.
export DH_VERBOSE=1

# This is the debhelper compatability version to use.
#export DH_COMPAT=5


build: build-stamp
build-stamp:
	dh_testdir

	# Add here commands to compile the package.
	# $(MAKE)
	if ! javac -version 2>&1 | grep -q -e 1.6 ; then echo "!!!!! ER" "ROR: Wrong JavaC Version. Need 1.6*"; \
	    javac -version; \
	    exit -1 ; \
	fi

	# Resolve dependencies
	ant resolve

	ant dist

	touch build-stamp

clean:
	dh_testdir
	dh_testroot
	rm -f build-stamp

	# Osmosis moves it's Binary arround, so to be sure we do not catch old Versions and don't 
	# recognize it we; remove all osmosis.jar Files first
	( find . -name "osmosis*.jar" | while read file ; do rm -v "$file" ; done ) || true

	ant clean

	ant clean-cache

	dh_clean

install: build
	dh_testdir
	dh_testroot
	dh_installdirs

#	./debian/update_svn_revision.sh
	./debian/make_install_files.sh debian/openstreetmap-osmosis

# Build architecture-independent files here.
binary-indep: build install
	dh_testdir
	dh_testroot
	dh_installchangelogs
	dh_installdebconf
#	dh_installdocs
#	dh_installexamples
	dh_installmenu
#	dh_installlogrotate
#	dh_installemacsen
#	dh_installpam
#	dh_installmime
#	dh_python
#	dh_installinit
#	dh_installcron
#	dh_installinfo
#	dh_installman
#	dh_link
	dh_strip
	dh_compress 
	dh_fixperms
#	dh_perl
	dh_installdeb
	dh_gencontrol
	dh_md5sums
	dh_builddeb

# Build architecture-dependent files here.
binary-arch: build install
# We have nothing to do by default.

binary: binary-arch binary-indep
.PHONY: build clean binary-indep binary-arch binary install  install-indep install-arch
